.gradle
.gradletasknamecache
build/
!gradle-wrapper.properties
!**/src/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositaries.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

### Eclipse ###
.project
.classpath

### VS Code ###
.vscode/

### Terraform ###
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfstate.lock.info
.terraformrc
terraform.rc

### Angular ###
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
/.angular-cli.json
/.ng/

### Next.js ###
/.next/
/out/
next-env.d.ts

### Node ###
/node_modules/
/package-lock.json
/yarn.lock
/.pnp
.pnp.js

### Environment ###
.env
.env*.local

### TypeScript ###
*.tsbuildinfo

### Logs ###
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Vercel ###
.vercel

### Java ###
*.class
*.ctxt
.mtj.tmp/
*.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
gradle-app.setting

### Kotlin ###
.kotlin/

### Mac OS ###
.DS_Store
*.pem

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
*.lnk
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp